@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Ubuntu&display=swap');

* {
  list-style: none;
  font-family: 'Outfit', sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  color: #1c0808;
  margin: 0;
  background-color: #d8f3dc;
}

.nav, footer, .top  {
  background-color: #081c15;
  display: flex;
  justify-content: space-around;
  padding: 16px;
  color: #d8f3dc;
}

.top {
  justify-content: initial;
  flex-direction: column;
}

.nav {
  padding: 0;
  margin-bottom: 30px;
}

.nav img {
  height: 62px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}

.nav a {
  color: #d8f3dc;
}

.hero img {
  height: 300px;
  border-radius: 10px;
  border: none;
}

.hero div {
  width: 560px;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  font-size: 19px;
}

.hero {
  align-items: center;
}

.hero button {
  padding: 8px;
  font-size: 25px;
  background-color: #95d5b2;
  border-radius: 7px;
  border: none;
}

.hero a {
  color: #081c15;
}

#products {
  padding: 48px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#products h1, #reviews h1 {
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 35px;
}

.imgs {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: flex-start;
}

.imgs div {
  width: 270px;
  flex: 1;
  text-align: center;
}

.imgs img {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 210px;
  border: 4px solid #2d6a4f;
  border-radius: 5px;
}

#reviews {
  background-color: #92b9a4;
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#reviews div {
  width: 800px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

#reviews h1 {
  margin-bottom: 44px;
}

.rev {  
  margin: 0 auto;
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
}

.author {
  font-size: 22px;
  font-weight: bold;
  align-self: flex-end;
  margin-top: 6px;
  margin-bottom: 44px;
}

#buy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 0;
}

.buydiv {
  margin: 0;
  display: flex;
  padding: 30px 50px;
  align-items: center;
  background-color: #2d6a4f;
  border-radius: 6px;
  border: none;
  color: #d8f3dc;
  justify-content: space-between;
  width: 1000px;
}

.buydiv h1, .buydiv p {
  margin: 0;
}

.buydiv p {
  margin-top: 10px;
  font-size: 18px;
}

.buydiv button {
  font-size: 24px;
  font-weight: bold;
  padding: 7px 30px;
  background-color: #95d5b2;
  border-radius: 7px;
  border: none;
  color: #081c15;
}

footer {
  padding: 28px;
  justify-content: center;
}